mixin homeCard(variant="orcit")
  section
    .index-wrap
      if variant == "orcit"
        .section__head
            h2 О РЦИТ
        .section__cards
          .home-card-wrap
            .home-card__name
              span Наша компания дарит радость и комфорт
            .home-card__text
              p Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:
            .dotted.home-card__dotted-1
            .dotted.home-card__dotted-2
        .section__btn
            +button("Подробнее","a","","./about-orcit.html")
      if variant == "obyavl"
        .section__head
            h2 Объявления
        .section__cards.section__cards_reactive
          .home-card-wrap.home-card-wrap_noborder
            .home-card__name.home-card__name_reactive
                span Технические работы на узлах ИТКС "СахаИнформ-Сеть"1
            .home-card__text.home-card__text_reactive
                p Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:1
            .dotted.home-card__dotted-3
          .home-mini-cards
            each jj in [1,2,3,4]
              if jj == 1
                a(href="javascript:void(0);").home-mini-card.home-mini-card__active
                  .home-mini-card__text
                    span='Технические работы на узлах ИТКС "СахаИнформ-Сеть"' + jj
                  .home-mini-card__bottom
                    .home-mini-card__icon
                      +icon('calendar')
                    .home-mini-card__date
                      span 30.11.2022
                  .home-mini-card__hidden
                    p='Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:' + jj
              else
                a(href="javascript:void(0);").home-mini-card
                  .home-mini-card__text
                    span='Технические работы на узлах ИТКС "СахаИнформ-Сеть"' + jj
                  .home-mini-card__bottom
                    .home-mini-card__icon
                      +icon('calendar')
                    .home-mini-card__date
                      span 30.11.2022
                  .home-mini-card__hidden
                    p='Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:' + jj
        .section__btn
            +button("Все объявления","a","","./obyavl.html")
