mixin homeCard(variant="orcit")
  section
    .index-wrap
      if variant == "orcit"
        .section__head
            h2 О РЦИТ
        .section__cards
          .home-card-wrap
            .home-card__name
              span Наша компания дарит радость и комфорт
            p Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:
            .dotted.home-card__dotted-1
            .dotted.home-card__dotted-2
        .section__btn
            +button("Подробнее")
      if variant == "obyavl"
        .section__head
            h2 Объявления
        .section__cards
          .home-card-wrap.home-card-wrap_noborder
            .home-card__name
                span Технические работы на узлах ИТКС "СахаИнформ-Сеть"
            .home-card__text
                p Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:
            .dotted.home-card__dotted-3
          .home-mini-cards
            each jj in [1,2,3,4]
              a(href="#").home-mini-card
                .home-mini-card__text
                  span Технические работы на узлах ИТКС "СахаИнформ-Сеть"
                .home-mini-card__bottom
                  .home-mini-card__icon
                    +icon('calendar')
                  .home-mini-card__date
                    span 30.11.2022
        .section__btn
            +button("Все объявления")
