.page__accord
{
  position: relative;
  background-color: var(--color-white);
  border-radius: 20px;
  border: 1px solid var(--color-blue-light2);
  margin-bottom: 20px;
  &:hover
  {
    .faq__accord-head
    {
      h3
      {
            color: var(--color-blue2)  
      }
    }
  }
  &:last-child
  {
    margin-bottom: 0;
  }
  @include l
  {
    border-radius: 15px;
  }
  @include xm
  {
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .accord-outside
  {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 35px 40px;
    h3
    {
      color: var(--color-blue-dark);
      @include font-d-2;
      @include l
      {
        @include font-t-2
      }
      @include xm
      {
        @include font-m-4
      }
    }
    @include l
    {
      padding: 25px 30px;
    }
    @include xm
    {
      padding: 15px 20px;
    }
  }
  .accord-inside-active
  {
    position: relative;
    z-index: 1;
    padding: 35px 40px;
    padding-top: 0;
    p
    {
      margin-bottom: 10px;
      &:last-child
      {
        margin-bottom: 0;
      }
    }
    @include l
    {
      padding: 25px 30px;
      padding-top: 0;
    }
    @include xm
    {
      padding: 15px 20px;
      padding-top: 0;
    }
  }
}
.page__accord-arrow
{
  margin: -15px 0;
  .icon
  {
    width: 32px;
    height: 32px;
    @include l
    {
      width: 24px;
      height: 24px;
    }
  }
}
.accord__logo
{
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 100px;
  transform: translate(0,-50%);
  height: 70px;
  width: 41px;
  background-size: 100% 100%;
  background-size: cover;
  background-image: url(../img/R-logo.svg);
  @include l
  {
    height: 52px;
    width: 30px;
    right: 78px;
  }
  @include xm
  {
    right: 57px;
  }
}
.accord-active
{
  @include l
  {
    .accord__logo
    {
      top: 48px;
    }
  }
  @include xm
  {
    .accord__logo
    {
      top: 54px;
    }
  }
}
