.document
{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  @include l
  {
    margin-bottom: 25px;
  }
  @include xm
  {
    align-items: flex-start;
    margin-bottom: 20px;
  }
  &:hover
  {
    .document__name
    {
      color: var(--color-blue2)
    }
  }
}
.document__icon
{
  margin-right: 20px;
  .icon
  {
    width: 48px;
    height: 48px;
  }
  @include l
  {
    .icon
    {
      width: 40px;
      height: 40px;
    }
  }
  @include xm
  {
    margin-right: 15px;
    .icon
    {
      width: 32px;
      height: 32px;
    }
  }
}
.document__name
{
  @include font-d-3;
  color: var(--color-blue-dark);
  @include l
  {
    @include font-t-3
  }
  @include xm
  {
    @include font-m-3
  }
}
