.page-header
{
  margin-top: 60px;
  border-bottom: 1px solid var(--color-grey-light);
  @include l
  {
    margin-top: 50px;
    border-bottom: none;
  }
  @include xm
  {
    margin-top: 40px;
  }
}
.page-header__breadcrumbs
{
  margin-bottom: 10px;
  color: var(--color-grey);
  @include font-d-6;
  @include l
  {
    @include font-t-5;
  }
  @include xm
  {
    @include font-m-6;
  }
}
.page-header__breadcrumbs-wrapper
{
  ul
  {
    display: flex;
    li
    {
      display: flex;
    }
  }
}
.page-header__breadcrumbs-slash
{
  margin: 0 5px;
}
.page-header__head
{
  margin-bottom: 26px;
  @include xm
  {
    margin-bottom: 24px;
  }
  h1
  {
    color: var(--color-blue-dark);
    @include font-d-1;
    @include l
    {
      @include font-t-1
    }
    @include xm
    {
      @include font-m-1;
    }
  }
}











.page-header__btns
{
  margin-top: 40px;
  margin-bottom: 7px;
  @include l
  {
    // width: calc(100vw + 128px);
    margin: 0 -64px;
    margin-top: 30px;
  }
  @include xm
  {
    margin: 0 -34px;
    margin-top: 24px;
  }
}
.page-header__btns-swiper
{

}
.page-header__btns-swiper-wrapper
{
  flex-wrap: wrap;
  @media (max-width: 9999px) and (min-width: 1220px) {
      transform: translate3d(0px, 0px, 0px) !important;
  }
  @include l
  {
    flex-wrap: nowrap;
  }
}
.page-header__btns-swiper-slide
{
  display: flex;
  width: fit-content;
  margin-bottom: 20px;
  margin-right: 20px;
  @include l
  {
    margin-left: 65px;
    margin-right: -45px;
    &:first-child
    {
      margin-left: 65px;
    }
    &:last-child
    {
      margin-right: 65px;
    }
  }
  @include xm
  {
    margin-left: 35px;
    margin-right: -15px;
    &:first-child
    {
      margin-left: 35px;
    }
    &:last-child
    {
      margin-right: 35px;
    }
  }
}
.page-header__swiper-paggination-wrap
{
  position: relative;
  width: 100%;
  height: 6px;
  overflow: auto;
  display: none;
  @include l
  {
    display: block;
    width: calc(100% - 128px);
    margin: 0 64px;
    margin-top: 6px;
  }
  @include xm
  {
    width: calc(100% - 68px);
    margin: 0 34px;
  }
}
.page-header__swiper-paggination
{
  height: 1px !important;
  top: 3px !important;
  span
  {
    background-color: var(--color-blue2) !important;
    height: 3px !important;
    top: -1px !important;
    z-index: 2;
    border-radius: 2px;
  }
}
