.small-accord
{
  text-align: right;
  margin-bottom: 22px;
  &:last-child
  {
    margin-bottom: 0
  }
}
.small-accord__active
{
  .small-accord__inside
  {
    display: block;
    margin-bottom: -12px;
  }
  .small-accord__arrow
  {
    .icon
    {
      transform: rotateZ(0);
    }
  }
}
.small-accord__outside
{
  display: flex;
  justify-content: flex-end;
}
.small-accord__name
{
  @include font-m-4;
  margin-right: 10px;
}
.small-accord__arrow
{
  width: 14px;
  height: 14px;
  .icon
  {
    width: 14px;
    height: 14px;
    transform: rotateZ(180deg);
  }
}
.small-accord__inside
{
  display: none;
  margin-top: 8px;
  ul
  {
    li
    {
      margin-bottom: 8px;
      &:last-child
      {
        margin-bottom: 0;
        a
        {
          padding-bottom: 12px;
          border: none;
        }
      }
      a
      {
        @include font-m-5;
      }
    }
  }
}
