.home-uslugi
{
  padding-bottom: 15px;
  margin-bottom: -15px;
  width: fit-content;
  max-width: 100%;
  @include xl-1250
  {
    width: fit-content;
    max-width: 860px;
  }
  @include l
  {
    padding-bottom: 30px;
    margin-bottom: 0;
    width: fit-content;
    max-width: 640px;
  }
  @include xm
  {
    width: 332px;
  }
  .swiper-pagination
  {
    display: none;
    @include l
    {
      display: block;
    }
  }
}
.home-uslugi__slide
{
  width: auto;
  &:last-child
  {
    margin-right: 0 !important;
  }
}
.home-uslugi__slide-btn
{
  width: 40px;
  height: 40px;
  @include l
  {
    display: none;
  }
  .icon
  {
    width: 40px;
    height: 40px;
    fill: none;
    stroke: var(--color-grey);
    color: var(--color-grey);
    stroke-width:1.5px;
    stroke-linecap:round;
    stroke-linejoin:round;
    &:hover
    {
      color: var(--color-blue2);
      fill: var(--color-blue2);
      stroke: var(--color-white);
    }
  }
}
.home-uslugi__slide-btn-next
{
  right: -85px;
  @include xl-1250
  {
    right: 0px;
  }
}
.home-uslugi__slide-btn-prev
{
  left: -85px;
  @include xl-1250
  {
    left: 0px;
  }
}
