.home-newUslugi
{

}
.home-newUslugi__wrap
{
  display: flex;
  gap: 20px;
  @include xm
  {
    flex-direction: column;
  }
}
.home-newUslugi__row1
{
  flex: 3;
  .new-uslg__card:first-child
  {
    height: 276px;
    margin-bottom: 20px;
    @include l
    {
      height: 225px;
    }
    @include xm
    {
      height: 157px;
    }
  }
  .new-uslg__card:last-child
  {
    height: 184px;
    @include l
    {
      height: 145px;
    }
    @include xm
    {
      height: 157px;
    }
  }
}
.home-newUslugi__row2
{
  flex: 4;
  .new-uslg__card
  {
    height: 230px;
    margin-bottom: 20px;
    @include l
    {
      height: 185px;
    }
    @include xm
    {
      height: 157px;
    }
  }
  .new-uslg__card:last-child
  {
    margin-bottom: 0
  }
}
.home-newUslugi__row3
{
  flex: 3;
  .new-uslg__card:first-child
  {
    height: 184px;
    margin-bottom: 20px;
    @include l
    {
      height: 145px;
    }
    @include xm
    {
      height: 157px;
    }
  }
  .new-uslg__card:last-child
  {
    height: 276px;
    @include l
    {
      height: 225px;
    }
    @include xm
    {
      height: 157px;
    }
  }
}
.new-uslg__card
{
  background: var(--color-white);
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover
  {
    background-color: var(--color-blue2);
    box-shadow: 0px 0px 10px #175DF8;
    .new-uslg__card-header-icon
    {
      color: var(--color-white);
    }
    .new-uslg__card-bottom
    {
      color: var(--color-white);
    }
  }
  @include l
  {
    border-radius: 10px;
    padding: 15px;
  }
  @include xm
  {
    border-radius: 8px;
  }
}

.new-uslg__card-header
{
  display: flex;
  justify-content: space-between;
}
.new-uslg__card-header-icon
{
  color: var(--color-blue2);
  .icon
  {
    width: 48px;
    height: 48px;
    @include l
    {
      width: 32px;
      height: 32px;
    }
  }
}
.new-uslg__card-header-back
{

}
.new-uslg__card-bottom
{
  color: var(--color-blue-dark);
}
.new-uslg__card-name
{
  @include font-d-4;
  margin-bottom: 12px;
  @include l
  {
    margin-bottom: 5px;
    @include font-t-4;
  }
}
.new-uslg__card-desc
{
  @include font-d-7;
  @include l
  {
    @include font-t-6;
  }
}
