.home-uslugi
{
  @include l
  {
    padding-bottom: 30px;
    width: 640px;
  }
  @include xm
  {
    width: 332px;
  }
  .swiper-pagination
  {
    display: none;
    @include l
    {
      display: block;
    }
  }
}
.home-uslugi__slide
{
  width: auto;
}
.home-uslugi__slide-btn
{
  width: 40px;
  height: 40px;
  @include l
  {
    display: none;
  }
  .icon
  {
    width: 40px;
    height: 40px;
    fill: none;
    stroke: var(--color-grey);
    color: var(--color-grey);
    stroke-width:1.5px;
    stroke-linecap:round;
    stroke-linejoin:round;
    &:hover
    {
      color: var(--color-blue2);
      fill: var(--color-blue2);
      stroke: var(--color-white);
    }
  }
}
.home-uslugi__slide-btn-next
{
  right: -85px;
}
.home-uslugi__slide-btn-prev
{
  left: -85px;
}
