include ../components/usluga-card
section
  .index-wrap
    .section__head
      h2 Популярные услуги
    .section__cards.section__cards_xl
      .home-newUslugi
        .home-newUslugi__wrap
          .home-newUslugi__row1
            a(href="./uslugi-inside.html").new-uslg__card
              .new-uslg__card-header
                .new-uslg__card-header-icon
                  +icon("airdrop")
                .new-uslg__card-header-back
                  +icon("arrowRight")
              .new-uslg__card-bottom
                .new-uslg__card-name
                  span Аренда каналов связи
                .new-uslg__card-desc
                  span Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет...
            a(href="./uslugi-inside.html").new-uslg__card
              .new-uslg__card-header
                .new-uslg__card-header-icon
                  +icon("glob")
                .new-uslg__card-header-back
                  +icon("arrowRight")
              .new-uslg__card-bottom
                .new-uslg__card-name
                  span Аренда каналов связи
                .new-uslg__card-desc
                  span Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет...
          .home-newUslugi__row2
            a(href="./uslugi-inside.html").new-uslg__card
              .new-uslg__card-header
                .new-uslg__card-header-icon
                  +icon("airdrop")
                .new-uslg__card-header-back
                  +icon("arrowRight")
              .new-uslg__card-bottom
                .new-uslg__card-name
                  span Аренда каналов связи
                .new-uslg__card-desc
                  span Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет...
            a(href="./uslugi-inside.html").new-uslg__card
              .new-uslg__card-header
                .new-uslg__card-header-icon
                  +icon("iptel")
                .new-uslg__card-header-back
                  +icon("arrowRight")
              .new-uslg__card-bottom
                .new-uslg__card-name
                  span Аренда каналов связи
                .new-uslg__card-desc
                  span Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет...
          .home-newUslugi__row3
            a(href="./uslugi-inside.html").new-uslg__card
              .new-uslg__card-header
                .new-uslg__card-header-icon
                  +icon("videotel")
                .new-uslg__card-header-back
                  +icon("arrowRight")
              .new-uslg__card-bottom
                .new-uslg__card-name
                  span Аренда каналов связи
                .new-uslg__card-desc
                  span Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет...
            a(href="./uslugi-inside.html").new-uslg__card
              .new-uslg__card-header
                .new-uslg__card-header-icon
                  +icon("phone")
                .new-uslg__card-header-back
                  +icon("arrowRight")
              .new-uslg__card-bottom
                .new-uslg__card-name
                  span Аренда каналов связи
                .new-uslg__card-desc
                  span Имеющаяся сеть ВОЛС ГБУ РС (Я) "РЦИТ" в г. Якутск позволяет...
        .dotted.home-news__dotted-1
        .dotted.home-news__dotted-2
