header
{
  width: 100vw;
  position: relative;
}
.header__wrap
{
  display: flex;
  justify-content: space-between;
  @include xm
  {
    align-items: center;
  }
}
.header__options
{
  display: flex;
  max-width: 985px;
  width: 100%;
  gap: 20px;
  @include l
  {
    align-items: center;
    justify-content: flex-end;
  }
  @include xm
  {
    height: 48px;
  }
}
.header__top
{
  width: 100%;
  padding: 30px 0;
  background-color: var(--color-blue-light);
  @include xm
  {
    padding: 0;
  }
}
.header__logo
{
  @include xm
  {
    height: 35px;
    width: 207px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
}
.header__logo-image
{
  height: 48px;
  width: auto;
  @include xm
  {
    height: 35px;
    width: 207px;
  }
}
.header__search
{
  display: flex;
  align-items: center;
  position: relative;
  height: 48px;
  flex: 1;
}
.header__search-input
{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 64px;
  border: 1px solid var(--color-blue-light2);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  border-radius: 100px;
  background-color: var(--color-blue-light);
  @include font-d-6;
  &:focus
  {
    outline: none;
    border: 1px solid var(--color-blue-light2);
    box-shadow: 0px 5px 10px rgba(150, 174, 198, 0.5)
  }
  &:hover
  {
    border: 1px solid var(--color-blue-light2);
    box-shadow: 0px 5px 10px rgba(150, 174, 198, 0.5)
  }
}
.header__search-btn
{
  position: absolute;
  right: 20px;
  height: 24px;
  width: 24px;
}
.header__search-btn-icon
{

}
.header__a11y
{
  height: 48px;
  // width: 282px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 12px;
  border: 1px solid var(--color-blue-light2);
  border-radius: 100px;
  &:hover
  {
    box-shadow: 0px 5px 10px rgba(150, 174, 198, 0.5);
  }
  @include l
  {
    height: 42px;
    width: 266px;
    gap: 14px;
  }
}
.header__a11y-text
{
  span
  {
    @include font-d-5
    {
      color: var(--color-blue2)
    }
    @include l
    {
      @include font-m-4
    }
  }
}
.header__a11y-icon
{
  width: 24px;
  height: 24px;
  .icon
  {
    width: 100%;
    height: 100%;
  }
}
.header__btn-user
{
  cursor: pointer;
  border: 1px solid var(--color-blue-light2);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  &:hover
  {
    box-shadow: 0px 5px 10px rgba(150, 174, 198, 0.5);
  }
  @include l
  {
    height: 40px;
    width: 40px;
  }
  @include xm
  {
    height: 32px;
    width: 32px;
  }
  .icon
  {
    @include l
    {
      width: 20px;
      height: 20px;
    }
    @include xm
    {
      width: 16px;
      height: 16px;
    }
  }
}
.header__menu-btn
{
  width: 32px;
  height: 20px;
  .icon
  {
    width: 32px;
    height: 20px;
  }
}
.header__mid
{
  width: 100%;
  background-color: var(--color-blue2)
}
.header__mid-wrap
{
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  @include l
  {
    padding-top: 5px;
    padding-bottom: 5px;
    .header__search
    {
      height: 42px;
      input
      {
        @include font-t-5;
      }
    }
  }
  @include xm
  {
    padding-top: 6px;
    padding-bottom: 6px;
    .header__search
    {
      height: 40px;
      input
      {
        @include font-m-5;
      }
    }
  }
}
.header__lines
{
  position: absolute;
  top: 0;
  height: 60px;
  width: 95px;
  background-image: url("../img/Union.svg");
  background-size:100% 100%;
  background-size:cover;
}
.header__menu-links
{
  display: flex;
  justify-content: center;
  ul
  {
    display: flex;
    gap: 60px;
  }
  @include xl
  {
    ul
    {
      gap: 30px;
    }
  }
}

.header__menu-links-link
{
  position: relative;
  &:hover
  {
    text-decoration: dotted underline white 3px;
    text-underline-offset: 5px;
    .header__menu-links-link-second
    {
      display: block;
      z-index: 20
    }
  }
}
.header__menu-links-link-first
{

}
.header__menu-links-link-second
{
  display: none;
  position: absolute;
  top: 16px;
  &:hover
  {
    display: block;
  }
}
.header__menu-links-link-second-wrap
{
  margin-top: 14px;
  padding: 30px;
  background-color: var(--color-white);
  min-height: 200px;
  display: flex;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(150, 174, 198, 0.5);
  ul
  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a
    {
      display: flex;
      gap: 20px;
      padding: 10px 0;
      align-items: center;
      white-space: nowrap;
    }
  }
}
.header__menu-links-link-second-icon
{
  width: 24px;
  height: 24px;
  background-color: gray;
}
.header__menu-links-link-second-name
{
  @include font-d-6
}

.header__links-text
{
  @include font-d-5
  {
    text-transform: uppercase;
    color: var(--color-white)
  }
}
.header__bottom
{
  background-color: var(--color-white)
}
.header__notifications
{
  padding-top: 10px;
  padding-bottom: 13px;
  span
  {
    @include font-d-7
    {
      color: var(--color-grey)
    }
  }
}
.header__burger-inside
{
  opacity: 0;
  position: absolute;
  top: 0;
  right: -100vw;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-blue-light);
  transition: all .2s ease
}
.header__burger-active
{
  opacity: 1;
  right: 0;
}
.header__burger-inside-head
{
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 33px;
  @include xm
  {
    padding-top: 18px;
    padding-bottom: 19px;
  }
}
.header__burger-inside-head-left
{
  display: flex;
  gap: 40px;
}
.header__burger-inside-head-right
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  @include xm
  {
    gap: 21px;
  }
}
.header__burger-inside-close
{
  width: 32px;
  height: 32px;
  .icon
  {
    width: 32px;
    height: 32px;
  }
}
.header__burger-inside-main
{
  margin-top: 30px;
  position: relative;
}
.header__burger-inside-main-logo
{
  position: absolute;
  top: 70px;
  left: 60px;
  height: 167px;
  width: 97px;
  background-size:100% 100%;
  background-size:cover;
  background-image: url('../img/R-logo.svg');
}
.header__burger-inside-main-menu
{
  display: flex;
  justify-content: flex-end;
  margin: -15px 0;
}
.header__burger-inside-main-menu-ul
{
  position: relative;
  padding-left: 30px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  @include xm
  {
    max-width: none;
  }
}
.header__burger-inside-main-menu-first-active
{
  .header__burger-inside-main-menu-second
  {
    display: block;
  }
  .header__burger-inside-main-menu-first-name
  {
    .icon
    {
      transform: rotateZ(180deg);
      @include xm
      {
        transform: rotateZ(90deg);
        stroke: #37C239;
      }
    }
  }
}
.header__burger-inside-main-menu-first-name
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px 0;
  cursor: pointer;
  svg
  {
    stroke: #292D32;
    stroke-width: 1.5
  }
  @include font-t-4
  {
    color: var(--color-black);
    text-transform: uppercase;
  }
  @include xm
  {
    padding: 17.5px 0;
    @include font-m-2;
    .icon
    {
      transform: rotateZ(-90deg);
    }
  }
}
.header__burger-inside-main-menu-second
{
  display: none;
  position: absolute;
  margin-top: -5px;
  width: 400px;
  top: 15px;
  left: -400px;
  border-right: 1px solid var(--color-grey-light);
  @include font-d-7
  {
    color: var(--color-blue-dark)
  }
  ul
  {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    text-align: right;
    li
    {
      display: flex;
      justify-content: flex-end;
    }
  }
  a
  {
    padding: 10px 0;
  }
  @include xm
  {
    position: static;
    width: auto;
    border-right: none;
    padding-bottom: 18px;
    margin-bottom: 0;
    ul
    {
      margin-right: 0;
      li
      {
        display: flex;
        justify-content: flex-end;
        a
        {
          padding: 12px 0;
        }
        &:last-child
        {
          a
          {
            padding-bottom: 30px;
            border-bottom: 1px solid var(--color-grey-light);
          }
        }
      }
    }
  }
}
.header__burger-inside-bot
{
    margin-top: 30px;
}
.header__burger-inside-bot-wrap
{
  padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--color-grey-light);
}
