mixin button(name="Кнопка",tag="a",mod=" ",link = "#")
  if tag == "a"
    a(href=link)(class="button" + " "  + mod)
      span=name
  if tag == "div"
    div(class="button" + " "  + mod)
      span=name
