mixin customSelect()
  .custom-select
    select
      <option value="0">например Г.Якутск</option>
      <option value="1">Г.Якутск</option>
      <option value="2">Абыйский улус</option>
      <option value="3">Горный улус</option>
      <option value="4">Горный улус</option>
      <option value="5">Горный улус</option>
      <option value="6">Горный улус</option>
      <option value="7">Горный улус</option>
      <option value="8">Горный улус</option>
      <option value="9">Горный улус</option>
      <option value="10">Горный улус</option>
      <option value="11">Горный улус</option>
      <option value="12">Горный улус</option>
