mixin pageHeader(name="Заголовок страницы",breadcrumbs=['Главная','Заголовок страницы'],btns=[{name: 'Кнопка',url: '#',active:true}])
  .page-header
    nav.page-header__breadcrumbs(aria-label="You are here:", itemprop="http://schema.org/breadcrumb", itemscope, itemtype="http://schema.org/BreadcrumbList")
      .page-header__breadcrumbs-wrapper
        ul
          each name, index in breadcrumbs
            li.page-header__breadcrumbs-item(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
              if index < breadcrumbs.length - 1
                a.page-header__breadcrumbs-link(href='#', title=name, itemprop="url")
                  span(itemprop=name)= name
                .page-header__breadcrumbs-slash
                  span /
              else
                span(itemprop=name)=name
    .page-header__head
      h1=name
    .page-header__btns
      .swiper.page-header__btns-swiper
        .swiper-wrapper.page-header__btns-swiper-wrapper
          each btn in btns
            if btn.active == true
              .swiper-slide.page-header__btns-swiper-slide
                +button(btn.name,"div","button_active")
            if btn.active == false
              .swiper-slide.page-header__btns-swiper-slide
                +button(btn.name)
