mixin projectCard(img,name="Система видеонаблюдения на выборах Главы РС (Я) 14 сентября 2014 года.",text="Во исполнение распоряжения Главы Республики Саха (Якутия) от 25 августа")
  a(href="./about-realproject-inside.html").project-card
    .project-card__img
      .project-card__img_with-image
        if img
          .project-card__img_dark-opacity
          img(src="./img/project-card.png")
        else
          .project-card__img_without-image
            +icon("monitor")
    .project-card__info
      .project-card__info-wrap
        .project-card__name
          h2=name
        .project-card__text
          p=text
      .project-card__btn
        +linkWithArrow("Подробнее")
