mixin serviceCard()
  a(href="./services-inside.html").service-card
    .service-card__img
      img(src="./img/cloud-change.png")
    .service-card__info
      .service-card__text
        .service-card__name
          span ЕСЭД
        .service-card__desc
          span Единая система электронного документооборота Республики Саха (Якутия
      .service-card__btn
        +linkWithArrow("Подробнее")
