.home-faq
{
  position: relative;
  @include l
  {
    width: 640px;
    margin: 0 auto;
  }
  @include xm
  {
    width: 332px;
  }
}
.home-faq__wrap
{
  background-color: var(--color-blue-light3);
  border: 1px solid var(--color-white);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  gap: 20px;
  @include l
  {
    padding: 25px;
    a
    {
      &:last-child
      {
        display: none;
      }
    }
  }
  @include xm
  {
    flex-direction: column;
    border-radius: 10px;
    gap: 16px;
    a
    {
      &:last-child
      {
        display: flex;
      }
    }
  }
}
.faq-card
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 300px;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 8px;
  border: 1px solid var(--color-blue-light2);
  box-shadow: 0px 5px 10px rgba(150, 174, 198, 0.5);
  overflow: hidden;
  @include l
  {
    height: 200px;
    padding: 25px;
    box-shadow: none;
  }
  @include xm
  {
    flex: auto;
    height: 205px;
  }
  &:hover,&:focus
  {
    .faq-card__text
    {
      color: var(--color-blue2);
    }
    .faq-card__btn
    {
      .icon
      {
        transform: rotateZ(-45deg);
      }
    }
  }
}
.faq-card__text
{
  z-index: 1;
  color: var(--color-blue-dark);
  h3
  {
    @include font-d-2;
    @include l
    {
      @include font-t-4;
    }
    @include xm
    {
      @include font-m-2;
    }
  }
}
.faq-card__btn
{
  .icon
  {
    width: 56px;
    height: 56px;
    @include l
    {
      width: 40px;
      height: 40px;
    }
  }
}
.faq-card__logo
{
  position: absolute;
  z-index: 0;
  bottom: 30px;
  right: 30px;
  height: 167px;
  width: 97px;
  background-size: 100% 100%;
  background-size: cover;
  background-image: url(../img/R-logo.svg);
  @include l
  {
    width: 78px;
    height: 134px;
    bottom: -23px;
    right: 19px;
  }
  @include xm
  {
    width: 82px;
    height: 140px;
    bottom: -19px;
    right: 13px;
  }
}
.home-faq__dotted-1
{
  left: -50px;
  top: -50px;
  @include l
  {
    visibility: hidden;
  }
}
.home-faq__dotted-2
{
  left: auto;
  top: auto;
  bottom: -50px;
  right: -50px;
  @include l
  {
    visibility: hidden;
  }
  @include xm
  {
    visibility: visible;
    bottom: -20px;
    right: -20px;
  }
}
