.home-parnters
{
  margin-bottom: -20px;
}
.home-parnters__wrapper
{
  transition-timing-function:linear;
}
.home-parnters__slide
{
  width: auto;
  padding-bottom: 20px;
}
.home-partner__card
{
  width: 310px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-blue-light2);
  border-radius: 8px;
  background-color: var(--color-white);
  &:hover
  {
    box-shadow: 0px 5px 10px rgba(150, 174, 198, 0.5);
  }
  img
  {
    height: 50px;
  }
  @include l
  {
    width: 285px;
  }
  @include xm
  {
    width: 184px;
    height: 80px;
    img
    {
      height: 30px;
    }
  }
}
