extends ../layout/app
block page
  include ../chunk/header
  main
    .index-wrap
      .page-wrap
        +pageHeader("История РЦИТ",["Главная","О нас","История РЦИТ"],[{name: 'О РЦИТ',url: '#', active: false},{name: 'История РЦИТ',url: '#', active: true},{name: 'Политика РЦИТ',url: '#',active: false},{name: 'Достижения',url: '#',active: false},{name: 'Реализованные проекты',url: '#',active: false},{name: 'Вакансии',url: '#',active: false},{name: 'Штаб ЦТ',url: '#',active: false},{name: 'Контакты',url: '#',active: false},{name: 'Документы',url: '#',active: false}])
        .about-history
          section.about-history__section.about-history__section_bordered
            .section__head
              h2  Начало нашей истории
            .about-history__paragraph.about-history__paragraph_center
              p ГБУ РС (Я) "Республиканский центр инфокоммуникационных технологий" создан в соответствии с Указом Президента Республики Саха (Якутия) от «29» октября 2010 года №325 «О мерах по организации предоставления государственных и муниципальных услуг в электронном виде в Республике Саха (Якутия)» в целях технического и технологического обеспечения оказания государственных и муниципальных услуг в электронной форме, электронного взаимодействия между государственными органами, органами местного самоуправления, организациями и заявителями; повышения эффективности бюджетных расходов за счет централизованного приобретения и обслуживания вычислительной техники и программного обеспечения исполнительных органов государственной власти Республики Саха (Якутия).
            .about-history__img
            .about-history__paragraph
              p Предметом деятельности ГБУ РС (Я) "РЦИТ" является программное, информационное и техническое обеспечение деятельности исполнительных органов государственной власти Республики Саха (Якутия), их подведомственных учреждений с целью автоматизации их деятельности, в том числе для предоставления государственных и муниципальных услуг в электронном виде на основе широкого использования информационно-коммуникационных технологий.
            .about-history__img
            .about-history__paragraph
              p В соответствии с пунктом 3.2 Указа Президента Республики Саха (Якутия) №325 от 29 октября 2010 года ГБУ РС(Я) "РЦИТ" определено уполномоченной организацией, осуществляющей функции по выпуску, выдаче и обслуживанию универсальных электронных карт.<br>Распоряжением Президента Республики Саха (Якутия) от 28 декабря 2011 года № 996-РП "Об изменении типа государственного автономного учреждения "Республиканский центр инфокоммуникационных технологий" на государственное бюджетное учреждение "Республиканский центр инфокоммуникационных технологий".
          include ../chunk/about-stage/about-stage
          section.about-history__section
            .section__head
              h2  В настоящее время
            .about-history__paragraph.about-history__paragraph_center
              p ГБУ РС (Я) "Республиканский центр инфокоммуникационных технологий" создан в соответствии с Указом Президента Республики Саха (Якутия) от «29» октября 2010 года №325 «О мерах по организации предоставления государственных и муниципальных услуг в электронном виде в Республике Саха (Якутия)» в целях технического и технологического обеспечения оказания государственных и муниципальных услуг в электронной форме, электронного взаимодействия между государственными органами, органами местного самоуправления, организациями и заявителями; повышения эффективности бюджетных расходов за счет централизованного приобретения и обслуживания вычислительной техники и программного обеспечения исполнительных органов государственной власти Республики Саха (Якутия).
            .about-orcit__double-img
              .about-orcit__img
                img(src="./img/orcit2.png")
              .about-orcit__img
                img(src="./img/orcit1.png")
  include ../chunk/footer
