extends ../layout/app
include ../chunk/components/accord
block page
  include ../chunk/header
  main
    .index-wrap
      .page-wrap
        +pageHeader("Часто задаваемые вопросы",[{name: "Главная", url: "./"},{name: "Техническая поддержка", url: "./tehpod-poryadok.html"},{name: "Часто задаваемые вопросы", url: "./faq.html"}],[{name: 'Порядок и способ обращения в тех.поддержку',url: './tehpod-poryadok.html', active: false},{name: 'Регламенты и инструкции',url: '#', active: false},{name: 'Портал тех.поддержки',url: './tehpod-portal.html',active: false},{name: 'FAQ',url: './faq.html',active: true}])
        .faq
          section
            .section__head
              h2 Часто задаваемые вопросы
            .faq__section
              .faq__wrap
                each faq in ['Где можно узнать номера IP телефонов ОГВ И ОМСУ?','Где можно просмотреть информацию о предоставляемых Учреждением услугах?','Как скачать то или иное приложение (например, cure it) с нашего сайта?','Как можно оставить заявку по возникшей проблеме?','Почему не работает Skype? Почему не открываются некоторые развлекательные и информационные страницы.','По каким услугам можно обратиться в Единую службу технической поддержки?','По какому номеру можно позвонить в Единую службу технической поддержки?','Какой адрес портала самообслуживания Единой службы технической поддержки?','Как получить авторизационные данные для доступа к порталу самообслуживания Единой службы технической поддержки?']
                  +accord(faq)
              .dotted.faq__dotted1
              .dotted.faq__dotted2
  include ../chunk/footer
