extends ../layout/app
include ../chunk/components/news-card
block page
  include ../chunk/header
  main
    .index-wrap
      .page-wrap
        +pageHeader("Проверка систем оповещения населения",[{name: "Главная", url: "./"},{name: "Пресс-центр", url: "./news.html"},{name: "Новости", url: "./news.html"},{name: "Проверка систем оповещения населения", url: "./news-inside.html"}],[{name: 'Новости',url: './news.html',active: true},{name: 'Объявление',url: './obyavl.html',active: false}])
        .news-inside
          .news-inside__image
            img(src="./img/orcit1.png")
          .news-inside__infos
            .news-inside__info
              .news-inside__info-icon
                +icon('calendar-inside-news')
              .news-inside__info-value
                span Февраль 2, 2023
            .news-inside__info
              .news-inside__info-icon
                +icon('eye')
              .news-inside__info-value
                span Просмотров: 61
          .news-inside__content
            p ГБУ РС (Я) "Республиканский центр инфокоммуникационных технологий" создан в соответствии с Указом Президента Республики Саха (Якутия) от «29» октября 2010 года №325 «О мерах по организации предоставления государственных и муниципальных услуг в электронном виде в Республике Саха (Якутия)» в целях технического и технологического обеспечения оказания государственных и муниципальных услуг в электронной форме, электронного взаимодействия между государственными органами, органами местного самоуправления, организациями и заявителями; повышения эффективности бюджетных расходов за счет централизованного приобретения и обслуживания вычислительной техники и программного обеспечения исполнительных органов государственной власти Республики Саха (Якутия). ГБУ РС (Я) "Республиканский центр инфокоммуникационных технологий" создан в соответствии с Указом Президента Республики Саха (Якутия) от «29» октября 2010 года №325 «О мерах по организации предоставления государственных и муниципальных услуг в электронном виде в Республике Саха (Якутия)» в целях технического и технологического обеспечения оказания государственных и муниципальных услуг в электронной форме, электронного взаимодействия между государственными органами, органами местного самоуправления, организациями и заявителями; повышения эффективности бюджетных расходов за счет централизованного приобретения и обслуживания вычислительной техники и программного обеспечения исполнительных органов государственной власти Республики Саха (Якутия).
          .news-inside__shares
            a(href="#").news-inside__share
              .news-inside__share-icon
                +icon("vk-solid")
              .news-inside__share-text
                span Поделиться в ВКонтакте
            a(href="#").news-inside__share
              .news-inside__share-icon
                +icon("ok-solid")
              .news-inside__share-text
                span Поделиться в Одноклассники
  include ../chunk/footer
