extends ../layout/app
include ../chunk/components/news-card
block page
  include ../chunk/header
  main
    .index-wrap
      .page-wrap
        +pageHeader("Новости",["Главная","Пресс-центр","Новости"],[{name: 'Новости',url: './news.html',active: true},{name: 'Объявление',url: './obyavl.html',active: false}])
        .hews
          .news__sort
            .news__sort-text
              span Сортировать:
            .news__sort-select
              .news__select-outside
                .news__select-outside-text
                  span Актуальное
                .news__select-outside-arrow
                  +icon("arrow-down")
              .news__select-inside
                a(href="#" class="news__select-option")
                  span Актуальное
                a(href="#" class="news__select-option")
                  span Популярное
                a(href="#" class="news__select-option")
                  span Новое
          .hews__wrap
            +newsCard("news.png")
            +newsCard()
            +newsCard("news.png")
            each news in [1,2,3,4,5,6,7,8,9]
              +newsCard()
          include ../chunk/components/paggination
  include ../chunk/footer
