extends ../layout/app
block page
  include ../chunk/header
  main
    .index-wrap
      .page-wrap
        +pageHeader("Директор",[{name: "Главная", url: "./"},{name: "Поиск", url: "./search.html"}],[])
        .search-result__count
          .search-result__count-text
            span Результаты поиска
          .search-result__count-value
            span 1 - 10 из 175
        .search-result
          ul
            li
              a(href="#").search-result__item
                .search-result__item-head
                  span IP-Телефония
                .search-result__item-text
                  span Заместитель <b>генерального директора</b>
            li
              a(href="#").search-result__item
                .search-result__item-head
                  span Авария на линии оператора ТФОП
                .search-result__item-text
                  span Заместитель <b>генерального директора</b>
            each dd in [1,2,3,4,5]
              li
                a(href="#").search-result__item
                  .search-result__item-head
                    span Call-центр
                  .search-result__item-text
                    span Заместитель генерального директора Заместитель генерального директора Заместитель генерального директора Заместитель генерального директора Заместитель генерального директора Заместитель генерального <b>директора</b> Заместитель генерального директора
          include ../chunk/components/paggination
  include ../chunk/footer
