extends ../layout/app
include ../chunk/components/accord
include ../chunk/components/doc-download
block page
  include ../chunk/header
  main
    .index-wrap
      .page-wrap
        +pageHeader("Статичная страница",[{name: "Главная", url: "./"},{name: "Статичная страница", url: "./static.html"}],[{name: '1 страница',url: '#', active: false},{name: '1 страница',url: '#', active: false},{name: '1 страница',url: '#', active: false},{name: '1 страница',url: '#', active: false},{name: '5 страница',url: '#', active: false}])
        .static
          .static__block.static__block_1
            .static__header
              h2 Блок 1
            .static__img
              img(src="./img/orcit1.png")
            .static__text
              p В своём стремлении улучшить пользовательский опыт мы упускаем, что элементы политического процесса, превозмогая сложившуюся непростую экономическую ситуацию, функционально разнесены на независимые элементы. Повседневная практика показывает, что экономическая повестка сегодняшнего дня создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса укрепления моральных ценностей. Мы вынуждены отталкиваться от того, что консультация с широким активом не оставляет шанса для глубокомысленных рассуждений. Также как начало повседневной работы по формированию позиции, в своём классическом представлении, допускает внедрение системы обучения кадров, соответствующей насущным потребностям.
          .static__block.static__block_2
            .static__header
              h2 Блок 2
            .static__text
              p В своём стремлении улучшить пользовательский опыт мы упускаем, что элементы политического процесса, превозмогая сложившуюся непростую экономическую ситуацию, функционально разнесены на независимые элементы. Повседневная практика показывает, что экономическая повестка сегодняшнего дня создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса укрепления моральных ценностей. Мы вынуждены отталкиваться от того, что консультация с широким активом не оставляет шанса для глубокомысленных рассуждений. Также как начало повседневной работы по формированию позиции, в своём классическом представлении, допускает внедрение системы обучения кадров, соответствующей насущным потребностям.
            .static__accords
              each acc in ['По каким услугам можно обратиться в Единую службу технической поддержки?','По какому номеру можно позвонить в Единую службу технической поддержки?','Какой адрес портала самообслуживания Единой службы технической поддержки?']
                +accord(acc)
          .static__block.static__block_3
            .static__header
              h2 Блок 3
            .static__card
              .home-card-wrap
                .home-card__name
                  span Наша компания дарит радость и комфорт
                .home-card__text
                  p Сообщаем, что 2 ноября 2022 года (среда) с 20:00 до 22:00запланировано проведение регламентных работ программно-аппаратногокомплекса обеспечения информационной безопасности на узлах «СахаИнформ-Сеть».Во время проведения регламентных работ будут кратковременные перебои телефонной связи.Работы будут выполнены по следующим адресам:
                .dotted.home-card__dotted-2
          .static__block.static__block_4
            .static__header
              h2 Блок 4
            .static__text
              p В своём стремлении улучшить пользовательский опыт мы упускаем, что элементы политического процесса, превозмогая сложившуюся непростую экономическую ситуацию, функционально разнесены на независимые элементы.
            .static__docs
              ul
                each doc in [1,2,3,4,5]
                  li
                  - var docName = 'Указ Главы Республики Саха (Якутия) "О государственной информационно-телекоммуникационной сети Республики Саха (Якутия) «СахаИнформ-Сеть»" от 11 октября 2019 г. № 778'
                    +docDownload(docName)
          .static__block.static__block_5
            .static__header
              h2 Блок 5
            .static__galary
              .static__galary-img
                img(src="./img/orcit1.png")
              .static__galary-img
                img(src="./img/orcit1.png")
              .static__galary-img
                img(src="./img/orcit1.png")
              .static__galary-img
                img(src="./img/orcit1.png")
            .static__text
              p В своём стремлении улучшить пользовательский опыт мы упускаем, что элементы политического процесса, превозмогая сложившуюся непростую экономическую ситуацию, функционально разнесены на независимые элементы. Повседневная практика показывает, что экономическая повестка сегодняшнего дня создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса укрепления моральных ценностей. Мы вынуждены отталкиваться от того, что консультация с широким активом не оставляет шанса для глубокомысленных рассуждений. Также как начало повседневной работы по формированию позиции, в своём классическом представлении, допускает внедрение системы обучения кадров, соответствующей насущным потребностям.
          .static__block.static__block_6
            .static__header
              h2 Блок 6
            .static__text
              p Как уже неоднократно упомянуто, непосредственные участники технического прогресса формируют глобальную экономическую сеть и при этом — объединены в целые кластеры себе подобных. Учитывая ключевые сценарии поведения, новая модель организационной деятельности позволяет выполнить важные задания по разработке экспериментов, поражающих по своей масштабности и грандиозности. Следует отметить, что новая модель
            .static__chain
              each item in [{name: 'Дружулюбный колектив', icon: "chain1"},{name: 'Хорошие условия труда', icon: "chain2"},{name: 'Достойная заработная плата', icon: "chain3"},{name: 'Возможность карьерного роста', icon: "chain4"},{name: 'Удобный график работы', icon: "chain5"}]
                .static__chain-item
                  .static__chain-circle
                    img(src="./img/" + item.icon + ".png")
                  .static__chain-name
                    span=item.name
  include ../chunk/footer
