extends ../layout/app
include ../chunk/components/custom-select
block page
  include ../chunk/header
  main
    .index-wrap
      .page-wrap
        +pageHeader("Телефонный справочник",[{name: "Главная", url: "./"},{name: "Телефонный справочник", url: "./tel-page.html"}],[])
        .tel-page
          .tel-page__search.tel-page__section
            .tel-page__section-head
              h2 Поиск
            .header__search
              input(type="text" placeholder="Поиск").header__search-input.tel-page__search-input
              .header__search-btn
                +icon('search-normal','header__search-btn-icon')
          .tel-page__full-search.tel-page__section
            .tel-page__section-head
              h2 Расширенный поиск
            .full-search__wrap
              .full-search__form
                .full-search__item
                  .full-search__input-name
                    span Район
                  .full-search__input-wrap
                    +customSelect()
                .full-search__item
                  .full-search__input-name
                    span Наименование организации
                  .full-search__input-wrap
                    input(type="text" placeholder="например: Управление")
                .full-search__item
                  .full-search__input-name
                    span Адрес организации
                  .full-search__input-wrap
                    input(type="text" placeholder="например: ул. Ленина, 31")
                .full-search__item
                  .full-search__input-name
                    span ФИО
                  .full-search__input-wrap
                    input(type="text" placeholder="например: Иванов")
                .full-search__item
                  .full-search__input-name
                    span Отдел
                  .full-search__input-wrap
                    input(type="text" placeholder="например: Финансовый отдел")
                .full-search__item
                  .full-search__input-name
                    span Должность
                  .full-search__input-wrap
                    input(type="text" placeholder="например: Руководитель")
                .full-search__item
                  .full-search__input-name
                    span Контактный номер
                  .full-search__input-wrap
                    input(type="text" placeholder="например: 8-24-080")
                .full-search__item
                  .full-search__input-wrap
                    +button("Найти","a","button_blue")
                    +button("Сбросить","a")
              .full-search__zaya
                .full-search__zaya-top
                  .full-search__zaya-top-text
                    span Для изменения текущих  справочных данных необходимо заполнить форму заявки.
                  div(class="full-search__zaya-top-btn" data-hystmodal="#telPageModal")
                    +button("Оставить заявку","a","button_blue")
                .full-search__zaya-bottom
                  span По всем возникшим вопросам обращаться по телефону
                  br
                  a(href="tel:84112398000") +7 (4112) 398-000
                  span  IP 69800
          .tel-page__result.tel-page__section
            .tel-page__result-head
              .tel-page__section-head
                h2 Результат поиска
              .tel-page__result-org
                .tel-page__result-org-text
                  span Организация:
                .tel-page__result-org-name
                  span Государственное Собрание (Ил Тумэн) Республики Саха (Якутия)
              .tel-page__result-org
                .tel-page__result-org-text
                  span Отдел:
                .tel-page__result-org-name
                  span Юридический отдел
            .tel-page__result-list
              ul
                each dd in [1,2,3,4,5,6]
                  li
                    .tel-page__result-item
                      .tel-page__item-a
                        span Заместитель генерального директора
                      .tel-page__item-b
                        span Захарова Марина Викторовна
                      .tel-page__item-c
                        span 6-71-56
                      .tel-page__item-d
                        span (495) 624-32-35
  div(class="hystmodal" id="telPageModal" aria-hidden="true")
    .hystmodal__wrap
        div(class="hystmodal__window zayavka__modal" role="dialog" aria-modal="true")
          div(data-hystclose class="hystmodal__close zayavka__exs")
            +icon("exs")
          .zayavka__header
            h3 Заявка на изменение справочника
          .zayavka__item
            .zayavka__item-name
              span Комментарий
            .zayavka__item-input
              textarea(rows="5" cols="33" placeholder="Намский улус")
          .zayavka__bottom
            .zayavka__bottom-left
              +button("Отправить","a","button_blue")
            .zayavka__bottom-right
              .zayavka__bottom-right-top
                .zayavka__download
                  <label class="input-file">
                    <input type="file" name="file" class="inputfile">
                    <span class="zayavka__download-name">Загрузить спроводительное письмо</span>
                    <span class="input-file-btn">
                      .zayavka__download-icon
                        +icon("upload-sqr")
                    </span>
                  </label>
              .zayavka__bottom-right-bottom
                .zayavka__download
                  .zayavka__download-name
                    span Скачать форму заявки
                  .zayavka__download-icon
                    +icon("dowload-sqr")
                .zayavka__download
                  <label class="input-file">
                    <input type="file" name="file" class="inputfile">
                    <span class="zayavka__download-name">Загрузить форму заявки</span>
                    <span class="input-file-btn">
                      .zayavka__download-icon
                        +icon("upload-sqr")
                    </span>
                  </label>
  include ../chunk/footer
