.faq
{
  margin-top: 80px;
  @include l
  {
    margin-top: 60px;
  }
  @include xm
  {
    .section__head
    {
      margin-bottom: 20px;
    }
  }
}
.faq__section
{
  position: relative;
}
.faq__accord-head
{
  width: 860px;
  @include l
  {
    width: 66%;
  }
  @include xm
  {
    width: 70%;
  }
}
.faq__dotted1
{
  top: -60px;
  left: -60px;
  @include l
  {
    top: -30px;
    left: -30px;
  }
  @include xm
  {
    top: -20px;
    left: -20px;
  }
}
.faq__dotted2
{
  bottom: -60px;
  right: -60px;
  @include l
  {
    bottom: -30px;
    right: -30px;
  }
  @include xm
  {
    bottom: -20px;
    right: -20px;
  }
}
