.static
{
  margin-top: 80px;
  color: var(--color-blue-dark);
  @include l
  {
    margin-top: 60px;
  }
}
.static__block
{
  margin-bottom: 70px;
  &:last-child
  {
    margin-bottom: 0;
  }
  @include l
  {
    margin-bottom: 60px;
  }
  @include xm
  {
    margin-bottom: 50px;
  }
}
.static__header
{
  margin-bottom: 40px;
  text-align: center;
  h2
  {
    @include font-d-1-5
  }
  @include l
  {
    margin-bottom: 30px;
    h2
    {
      @include font-t-1-5
    }
  }
  @include xm
  {
    margin-bottom: 25px;
    h2
    {
      @include font-m-1-5
    }
  }
}
.static__img
{
  margin-bottom: 40px;
  border-radius: 20px;
  height: 400px;
  overflow: hidden;
  img
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include l
  {
    margin-bottom: 30px;
    height: 300px;
  }
  @include xm
  {
    margin-bottom: 20px;
    border-radius: 10px;
    height: 140px;
  }
}
.static__text
{
  p
  {
    letter-spacing: -0.2px;
    @include font-d-3;
  }
  @include l
  {
    p
    {
      @include font-t-3;
    }
  }
  @include xm
  {
    p
    {
      @include font-m-3;
    }
  }
}
.static__accords
{
  margin-top: 40px;
  @include l
  {
    margin-top: 30px;
  }
  @include xm
  {
    margin-top: 25px;
  }
}
.static__card
{
  position: relative;
}
.static__docs
{
  margin-top: 40px;
  @include l
  {
    margin-top: 30px;
  }
  @include xm
  {
    margin-top: 25px;
  }
}
.static__galary
{
  margin: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  @include l
  {
    margin-bottom: 30px;
  }
  @include xm
  {
    display: block;
    margin: -7.5px -10px;
    margin-bottom: 20px;
  }
}
.static__galary-img
{
  height: 300px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  img
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include l
  {
    height: 200px;
  }
  @include xm
  {
    margin: 7.5px 10px;
    height: 150px;
  }
}
.static__chain
{
  display: flex;
  margin-top: 60px;
  @include l
  {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.static__chain-item
{
  margin-right: 48px;
  position: relative;
  flex: 1;
  &:hover
  {
    .static__chain-circle
    {
      background: var(--color-green);
    }
  }
  &:last-child
  {
    margin-right: 0;
    &::after
    {
      display: none;
    }
  }
  &::after
  {
    position: absolute;
    top: 46px;
    right: -48px;
    content: "";
    width: 48px;
    height: 2px;
    background-color: #d9d9d9;
    @include xm
    {
      width: 20px;
      right: -20px;
    }
  }
  @include l
  {
    flex: 0 0 calc(33% - 30px);
    &:nth-child(3n)
    {
      margin-right: 0;
      margin-bottom: 30px;
      &::after
      {
        display: none;
      }
    }
  }
  @include xm
  {
    flex: 0 0 calc(50% - 10px);
    margin-right: 20px;
    &:nth-child(3n)
    {
      margin-right: 20px;
      margin-bottom: 0px;
      &::after
      {
        display: block;
      }
    }
    &:nth-child(2n)
    {
      margin-right: 0px;
      margin-bottom: 30px;
      &::after
      {
        display: none;
      }
    }
  }
}
.static__chain-circle
{
  width: 120px;
  height: 120px;
  background-color: var(--color-blue2);
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  img
  {
    width: 56px;
    height: 56px;
  }
  @include l
  {
    width: 104px;
    height: 104px;
    img
    {
      width: 48px;
      height: 48px;
    }
  }
  @include xm
  {
    width: 80px;
    height: 80px;
    img
    {
      width: 38px;
      height: 38px;
    }
  }
}
.static__chain-name
{
  text-align: center;
  color: var(--color-blue-dark);
  @include font-d-2;
  @include l
  {
    width: 177px;
    margin: 0 auto;
    @include font-t-2;
  }
  @include xm
  {
    width: 116px;
  }
}
