.home-news
{
  position: relative;
  @include l
  {
    width: 700px;
    margin: 0 auto;
  }
  @include xm
  {
    width: 330px;
  }
}
.home-news__wrap
{
  display: flex;
  gap: 20px;
  @include xm
  {
    flex-direction: column;
  }
  a
  {
    @include l
    {
      &:last-child
      {
        display: none;
      }
    }
    @include xm
    {
      &:last-child
      {
        display: block;
      }
    }
  }
}



.home-new-news__card
{
  flex: 1;
}
.home-new-news__card-img
{
  border-radius: 12px;
  height: 270px;
  overflow: hidden;
  img
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include xm
  {
    height: 185px;
  }
}
.home-new-news__card-name
{
  color: var(--color-blue-dark);
  margin-top: 20px;
  @include font-d-4;
  @include l
  {
    @include font-t-4;
  }
}
.home-new-news__card-date
{
  color: var(--color-blue-dark);
  margin-top: 12px;
  @include font-d-7;
  @include l
  {
    @include font-t-6;
  }
}










.home-news__dotted-1
{
  left: -50px;
  top: -50px;
  @include l
  {
    left: -30px;
    top: -30px;
  }
  @include xm
  {
    left: -20px;
    top: -20px;
  }
}
.home-news__dotted-2
{
  left: auto;
  top: auto;
  bottom: -50px;
  right: -50px;
  @include l
  {
    bottom: -30px;
    right: -30px;
  }
  @include xm
  {
    bottom: -20px;
    right: -20px;
  }
}
