include ../components/news-card
section.section_white-p
  .index-wrap
    .section__head
      h2 Новости
    .section__cards.section__cards_xl
      .home-news
        .home-news__wrap
          +newsCard()
          +newsCard()
          +newsCard()
        .dotted.home-news__dotted-1
        .dotted.home-news__dotted-2
    .section__btn
      +button("Все новости")
